@theme {
  --color-black: #050505;
  --color-white: #cacaca;
  --color-green: #00ff41;
  --color-blue: #82fff7;
  --color-yellow: #ebd99c;
  --color-gray: #dedacf;
  --color-pink: #f58c80;
  --color-purple: #e96aff;
  --color-red: #ff625a;
}
