@theme {
  --color-black: #050505;
  --color-white: #cacaca;
  --color-green: #00ff41;
  --color-blue: #00f0ff;
  --color-yellow: #ebd99c;
  --color-gray: #dedacf;
  --color-pink: #ff003c;
  --color-purple: #e96aff;
  --color-red: #ff625a;
}
