/* Glitch Effect Utility Classes */
.glitch-wrapper {
  position: relative;
}

.glitch-wrapper::before,
.glitch-wrapper::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch-wrapper::before {
  left: 2px;
  text-shadow: -1px 0 #ff003c;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch-wrapper::after {
  left: -2px;
  text-shadow: -1px 0 #00f0ff;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
  }

  5% {
    clip: rect(12px, 9999px, 56px, 0);
  }

  10% {
    clip: rect(85px, 9999px, 90px, 0);
  }

  15% {
    clip: rect(20px, 9999px, 30px, 0);
  }

  20% {
    clip: rect(60px, 9999px, 15px, 0);
  }

  100% {
    clip: rect(42px, 9999px, 44px, 0);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(20px, 9999px, 80px, 0);
  }

  5% {
    clip: rect(10px, 9999px, 5px, 0);
  }

  10% {
    clip: rect(90px, 9999px, 100px, 0);
  }

  15% {
    clip: rect(15px, 9999px, 40px, 0);
  }

  20% {
    clip: rect(60px, 9999px, 70px, 0);
  }

  100% {
    clip: rect(20px, 9999px, 80px, 0);
  }
}
