@use 'tailwindcss';
@use './color';
@import './glitch';

html > body {
  margin: 0;
  font-size: 14px;
  font-family: Consolas, monospace;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white) !important;
  background-color: var(--color-black);
  overflow-y: overlay;
  cursor: text;
}

.framework7-root {
  color: #fff !important;
}

::selection,
a::selection {
  background-color: var(--color-green);
  color: var(--color-black);
}

:root {
  --ti-cursor-color: var(--color-green);
  --ti-cursor-font-weight: 900;
}

.page[data-name='movie'] {
  background-color: #fff;
}

.blank {
  color: var(--color-blue);
  background-color: var(--color-yellow);
  border-color: var(--color-gray);
  outline-color: var(--color-pink);
  text-decoration-color: var(--color-purple);
  border-left-color: var(--color-red);
}
