@import 'tailwindcss';
@import './color';

html > body {
  margin: 0;
  font-size: 14px;
  font-family: Consolas, monospace;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white) !important;
  background-color: var(--color-black);
  overflow-y: overlay;
  cursor: text;
}

.framework7-root {
  color: #fff !important;
}

::selection,
a::selection {
  background-color: var(--color-green);
  color: var(--color-black);
}

:root {
  --ti-cursor-color: var(--color-green);
  --ti-cursor-font-weight: 900;
}

.page[data-name='movie'] {
  background-color: #fff;
}
