@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-size: 14px;
  font-family: Courier, 'Microsoft YaHei', monospace;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: theme('colors.white') !important;
  background-color: theme('colors.black');
  overflow-y: overlay;
  cursor: text;
}

::selection,
a::selection {
  background-color: theme('colors.green');
  color: theme('colors.black');
}

:root {
  --ti-cursor-color: theme('colors.green');
  --ti-cursor-font-weight: 900;
}

.page[data-name='movie'] {
  background-color: #fff;
}
