@use 'tailwindcss';
@use './color';
@use './glitch';

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #008f11;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ff41;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: Consolas, monospace;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white);
  background-color: var(--color-black);
  cursor: text;
}

.framework7-root {
  color: #fff !important;
}

::selection,
a::selection {
  background-color: var(--color-green);
  color: var(--color-black);
}

:root {
  --ti-cursor-color: var(--color-green);
  --ti-cursor-font-weight: 900;
}

.page[data-name='movie'] {
  background-color: #fff;
}
