.remark-highlight {
  .keyword,
  .property,
  .atrule {
    color: var(--color-blue);
  }

  .string,
  .attr-value {
    color: var(--color-green);
  }

  .class-name,
  .function,
  .builtin {
    color: var(--color-yellow);
  }

  .attr-name {
    color: var(--color-pink);
  }

  .attr-equals {
    color: var(--color-white);
  }

  .comment {
    color: var(--color-gray);
  }

  .boolean,
  .number {
    color: var(--color-pink);
  }
}
