.header {
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgb(0 0 0 / 36%);
  position: relative;

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
  }

  .content {
    position: absolute;
    bottom: 20px;
    left: 20px;

    .title {
      color: '#fff';
      font-size: 24px;
      font-weight: var(--f7-block-title-medium-font-weight);
      line-height: var(--f7-block-title-medium-line-height);
      margin-bottom: 8px;
    }

    .line {
      color: var(--f7-list-item-text-text-color);
      font-size: var(--f7-list-item-text-font-size);
      margin-top: 4px;
    }
  }
}

.section {
  color: black;
  margin: 20px;

  .title {
    font-size: 18px;
    font-weight: var(--f7-block-title-medium-font-weight);
    line-height: var(--f7-block-title-medium-line-height);
    margin-bottom: 8px;
  }

  .content {
    font-size: var(--f7-list-item-text-font-size);
  }
}

.list {
  position: relative;
  left: -20px;
  width: calc(100% + 40px);
  padding: 0 20px;
  display: flex;
  overflow-x: auto;
  gap: 8px;
  font-size: var(--f7-list-item-text-font-size);
  scroll-snap-type: x mandatory;
  scroll-padding-left: 20px;
}

.credit {
  display: block;
  width: 64px;
  text-align: center;
  scroll-snap-align: start;
  text-decoration: none;
  flex-shrink: 0;

  .avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 0 auto 4px;
  }

  .name,
  .character {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .name {
    color: black;
  }

  .character {
    font-size: 12px;
    color: rgb(0 0 0 / 45%);
  }
}
