.logo {
  font-size: 16px;
  text-align: center;
  cursor: default;
  user-select: none;
  margin: 36px 0;

  span {
    color: var(--color-green);
  }
}

.content {
  display: block;
  line-height: 2;

  a {
    color: var(--color-green);

    &:hover {
      color: var(--color-black);
      background-color: var(--color-green);
    }
  }

  .inner p {
    display: inline-block;
  }
}
