.logo {
  font-size: 12px;
  text-align: center;
  zoom: 0.5;
  cursor: default;
  user-select: none;
  margin-bottom: 48px;
}

.content {
  display: block;
  line-height: 2;

  a {
    color: theme('colors.green');

    &:hover {
      color: theme('colors.black');
      background-color: theme('colors.green');
    }
  }

  .inner p {
    display: inline-block;
  }
}
