.list {
  list-style: decimal;
  padding-left: 40px;
}

.movie {
  display: flex;
  gap: 16px;
  line-height: 2;

  a {
    color: var(--color-green);

    &:hover {
      color: var(--color-black);
      background-color: var(--color-green);
    }
  }
}

.section {
  margin-top: 24px;
}
