.title {
  color: var(--color-blue);
  font-size: 24px;
  line-height: 2;
  font-weight: bold;

  &::before {
    color: var(--color-white);
    content: '<';
    margin-right: 4px;
  }

  &::after {
    color: var(--color-white);
    content: '>';
    margin-left: 4px;
  }
}

.content {
  p {
    margin: 16px 0;
  }

  h1,
  h2,
  h3 {
    margin: 24px 0 16px;
    font-weight: bold;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  a {
    color: var(--color-green);

    &:hover {
      color: var(--color-black);
      background-color: var(--color-green);
    }
  }

  pre {
    border: 1px dashed var(--color-gray);
    border-radius: 8px;
    padding: 8px 12px;
    white-space: pre-wrap;
    word-break: break-all;
  }

  p code {
    color: var(--color-black);
    background-color: var(--color-gray);
    padding: 2px 4px;
    border-radius: 2px;
  }

  table {
    border: 1px dashed var(--color-gray);
    border-radius: 8px;
    border-collapse: separate;
    width: 100%;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 4px;
    }
  }

  ul,
  ol {
    padding-left: 16px;
  }

  ul {
    list-style: disc;

    ul {
      list-style: circle;
    }
  }

  ol {
    list-style: decimal;
  }

  li {
    margin: 8px 0;
  }

  blockquote {
    font-style: italic;
  }
}

.footer {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;

  code {
    color: var(--color-yellow);
  }

  a {
    color: var(--color-green);

    &:hover {
      color: var(--color-black);
      background-color: var(--color-green);
    }
  }
}
