.link {
  display: flex;
  gap: 4px;
  align-items: center;

  span {
    color: theme('colors.blue');
  }

  &:hover > span {
    color: theme('colors.black');
    background-color: theme('colors.blue');
  }
}
