.link {
  display: flex;
  gap: 4px;
  align-items: center;

  span {
    color: var(--color-blue);
  }

  &:hover > span {
    color: var(--color-black);
    background-color: var(--color-blue);
  }
}
