.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dashed var(--color-gray);
  margin: 20px 0 16px;
  padding-top: 16px;
}

.contact {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-top: 8px;
}
