.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: dashed 1px var(--color-gray);
  border-bottom: dashed 1px var(--color-gray);
  margin-bottom: 24px;
  padding: 12px 0;
  gap: 16px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.navbar {
  display: flex;
  gap: 16px;
  line-height: 2;

  a:hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}
