.layout {
  flex-direction: column;
  margin: 0 auto;
  padding: 24px 0;
  width: 90%;
  max-width: 1024px;
  min-height: 100vh;
}

.content {
  min-height: calc(100vh - 242px);
  outline: none;
  caret-color: theme('colors.green');
}
