.layout {
  flex-direction: column;
  margin: 0 auto;
  padding: 24px 0;
  width: 90%;
  max-width: 1024px;
  min-height: 100vh;
}

.content {
  min-height: calc(100vh - 237px);
  outline: none;
  caret-color: var(--color-green);

  &.empty {
    min-height: calc(100vh - 221px);
  }
}

.float {
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 100;
}
